.cards {
  background-color: #fff;
}
.cards-header {
  margin-top: 102px;
  text-align: center;
}
.cards-header h2 {
  margin-bottom: 13px;
}
.cards-header p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.cards-header .p-cards,
.offering-header .p-cards,
.projects-header .p-cards,
.team-header .p-cards,
.client-header .p-cards,
.price-header .p-cards,
.news-header .p-cards {
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 3.8px;
  text-transform: uppercase;
  font-size: 18px;
}
.p-cards::before {
  content: "---";
  letter-spacing: 3.8px;
}
.p-cards::after {
  content: "---";
  letter-spacing: 3.8px;
}

.cards-header h2,
.cards-header h2 span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}
.cards-header h2 span {
  color: #eec400;
}
.cards-header h2 + p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  text-transform: none;
  line-height: 24px;
  max-width: 780px;
  margin: 0 auto;
}
.cards-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 76px;
}
.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  padding: 70px 20px 66px;
  border: 2px solid #eec400;
  width: 370px;
  box-sizing: border-box;
  transition-duration: 1s;
}

.card-item h2 {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 23px;
}
.card-item h2 span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 24px;
}
.card-item.card-two h2 span {
  font-family: "Roboto-Regular", sans-serif;
}
.card-item.card-two h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 24px;
}
.card-item p {
  text-align: center;
  line-height: 24px;
  margin-top: 13px;
}
.card-item button {
  padding: 5px;
  border: none;
  background-color: inherit;
}
.card-item button span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 10px;
  transition-duration: 1s;
}
.card-item img {
  height: 54px;
  width: 100%;
  object-fit: contain;
  transition-duration: 1s;
}
.card-item svg {
  height: 54px;
  fill: black;
  transition-duration: 1s;
}
.card-item:hover {
  background-color: #eec400;
  color: #fff;
  transition-duration: 1s;
}
.card-item:hover svg {
  fill: #fff;
  transition-duration: 1s;
}
.card-item:hover button span {
  color: #fff;
  transition-duration: 1s;
}
.card-item button svg {
  width: 20px;
  height: 12px;
}
