.clientslogo {
  background-color: #f8f8f8;
  padding-bottom: 20px;
}
.clientslogo-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 35px 40px;
  box-shadow: 0px 5px 15px #d8d6d6;
  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
    height: 700px;
    padding: 5px 5px;
  }
}
.clientslogo-images img:last-child {
  margin-right: 0;
}
.clientslogo-images img {
  height: 64px;
  max-width: 150px;
  object-fit: contain;
  margin-right: 10px;
  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 120px;
    max-width: 250px;
  }
}
