.clientslogo {
  background-color: #f8f8f8;
  padding-bottom: 20px;
}
.clientslogo-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 35px 40px;
  box-shadow: 0px 5px 15px #d8d6d6;
}
.clientslogo-images .center {
  padding-left: 16px;
  padding-right: 16px;
}
