.wr-header-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  // padding-bottom: 15vh;
  min-width: 0;
}

.header-slider.swiper-container {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header-slider-slide {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-slider-item h2 {
  font-family: "Roboto-Light", sans-serif;
  font-size: 35px;
  letter-spacing: 8px;
  color: #fff;
  text-transform: uppercase;
  padding-left: 2px;
}
.header-slider-item h1 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 105px;
  line-height: 86%;
  letter-spacing: -1px;
  color: #fff;
  text-transform: uppercase;
  padding-left: 2px;
}
.header-slider-item span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 105px;
  line-height: 86%;
  letter-spacing: -1px;
  color: #eec400;
  text-transform: uppercase;
}
.header-slider-item h3 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 36px;
  text-transform: capitalize;
  color: #fff;
  margin-left: 2px;
  margin-top: 19px;
}
.header-slider-item p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 170%;
  margin-left: 2px;
  margin-top: 24px;
}
// button--------------------------
// --------------------------------
.header-slider-item .button {
  width: 272px;
  height: 70px;
  background-color: #eec400;
  border-radius: 5px;
  margin-top: 32px;
  margin-left: 2px;
  border: none;
  transition-duration: 1s;
}
// hover  ------------------------------------
.header-slider-item .button:hover {
  background-color: #4c413b;
  transition-duration: 1s;
}
.header-slider-item .button:hover span,
.header-slider-item .button:hover svg {
  transition-duration: 1s;
  color: #fff;
  fill: #fff;
}

.header-slider-item .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #404040;
  text-transform: uppercase;
  margin-right: 15px;
}
// .header-slider-item .button:hover {
// }
// arrows---------------------------------
// -----------------------------------------
.wr-header-slider {
  position: relative;
}
.header-slider .swiper-button-prev::after,
.header-slider .swiper-button-next::after {
  content: "";
}
.wr-header-slider .swiper-button-next-uniq {
  position: absolute;
  top: 50%;
  right: 50px;
  opacity: 0.3;
}
.wr-header-slider .swiper-button-prev-uniq {
  position: absolute;
  top: 50%;
  left: 50px;
  opacity: 0.3;
}
.wr-header-slider .swiper-button-next-uniq:hover {
  opacity: 1;
  cursor: pointer;
}
.wr-header-slider .swiper-button-prev-uniq:hover {
  opacity: 1;
  cursor: pointer;
}
// pagination-----------------------------
// ----------------------------------------
.swiper-pagination-header .swiper-pagination-bullet {
  margin-right: 13px;
  width: 19px;
  height: 5px;
  background-color: #eec400;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-header .swiper-pagination-bullet-active {
  width: 34px;
  height: 5px;
  background-color: #fff;
  opacity: 1;
}
