.map-info {
  position: relative;
  margin-top: 100px;
}
.map-image {
  height: 590px;
  width: 100%;
  background-image: url(../img/map/map.png);
  background-size: cover;
}
.map-color {
  background-color: #f8f8f8;
  height: 711px;
}
.map-info .wrapper {
  position: relative;
}
.map-form-input {
  padding-top: 30px;
}
.map-form-connection {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  width: 100%;
}
.map-form {
  box-sizing: border-box;
  width: 100%;
  padding: 70px 100px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 1400px) {
    padding: 30px 50px;
  }
  @media (max-width: 1050px) {
    padding: 20px 30px;
  }
  @media (max-width: 850px) {
    padding: 10px 20px;
  }
}
.map-form .text-email-wr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 35px;
  @media (max-width: 760px) {
    flex-direction: column;
    text-align: center;
  }
}
.map-form .map-form-input input[type="text"],
.map-form-input input[type="email"] {
  width: 455px;
  height: 50px;
  padding: 15px 15px;
  border-radius: 5px;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  opacity: 0.5;
  @media (max-width: 1400px) {
    width: 400px;
    height: 40px;
  }
  @media (max-width: 1050px) {
    width: 300px;
    height: 40px;
  }
  @media (max-width: 850px) {
    width: 250px;
    height: 40px;
    padding: 5px 5px;
  }
  @media (max-width: 760px) {
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 250px;
  }
  @media (max-width: 490px) {
    width: 200px;
  }
}
.map-form-input textarea[name="textarea"] {
  width: 100%;
  border-radius: 5px;
  @media (max-width: 850px) {
    height: 200px;
    width: 250px;
  }
  @media (max-width: 490px) {
    width: 200px;
  }
}
.textarea {
  text-align: center;
}
.map-info .wr-button {
  padding-top: 30px;
}
.map-info .button {
  width: 230px;
  height: 65px;
  background-color: #eec400;
  border-radius: 5px;
  border: none;
  @media (max-width: 490px) {
    width: 150px;
    height: 50px;
    font-size: 14px;
  }
}
.map-info .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding-right: 12px;
  padding-left: 18px;
}
.map-info .button:hover span {
  color: #eec400;
}
.map-info .button:hover {
  background-color: #4c413b;
}
.office-email svg,
.office-adress svg,
.office-phone-number svg {
  width: 35px;
  fill: #000;
  transition-duration: 2s;
}
.map-connection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.office-adress,
.office-phone-number,
.office-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 60px;
}
.office-email {
  margin-right: 0;
}
.office-svg {
  border: 1px dashed #eec400;
  padding: 10px 15px;
}
.data-office {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.data-office h3 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
.map-connection {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
}
.office-adress .office-svg:hover svg {
  transition-duration: 2s;
  transform: scale(1.5);
}

.office-phone-number .office-svg:hover svg {
  animation: 1s ease-in-out 0s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-10deg);
  }
  20%,
  40% {
    transform: rotate(10deg);
  }
}

.office-email .office-svg:hover svg {
  animation: 2s ease-in-out 0s normal none infinite running top-down;
}
@keyframes top-down {
  0%,
  100% {
    transform: skewY(10deg);
  }
  20%,
  75% {
    transform: skewY(-10deg);
  }
  40%,
  50%,
  60% {
    transform: scale(1.5);
  }
}
