.offering {
  margin-top: 100px;
}
.offering-header {
  text-align: center;
}
.offering-header p span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.offering-header p {
  letter-spacing: 9px;
}
.offering-header h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  @media (max-width: 800px) {
    font-size: 30px;
  }
  @media (max-width: 490px) {
    font-size: 20px;
  }
}
.offering-header h2 span {
  color: #eec400;
}
.offering img {
  margin-right: 30px;
  width: 43px;
  height: 43px;
  object-fit: contain;
}

.container-1,
.container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 1050px) {
    flex-direction: column;
  }
}
.offering h3 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 11px;
  margin-bottom: 11px;
  letter-spacing: -0.2px;
}
.offering h3 span {
  font-family: "Roboto-light", sans-serif;
}
.architecture,
.energy,
.painting,
.transport,
.service,
.support {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 92px;
  margin-right: 85px;
  margin-bottom: 98px;
  @media (max-width: 1050px) {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.transport,
.service,
.support {
  margin-top: 0;
}
.support,
.painting {
  margin-right: 0;
}
.container-1 p,
.container-2 p {
  line-height: 23px;
}
svg {
  fill: #eec400;
}
