.offering .wrapper {
  padding-top: 100px;
}
.offering-header {
  text-align: center;
}
.offering-header p span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.offering-header p {
  letter-spacing: 9px;
}
.offering img {
  padding-right: 30px;
}
.offering-header h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}
.offering-header h2 span {
  color: #eec400;
}
.container-1,
.container-2 {
  display: flex;
  flex-direction: row;
}
.offering h3 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  letter-spacing: -0.2px;
}
.offering h3 span {
  font-family: "Roboto-light", sans-serif;
}
.architecture,
.energy,
.painting,
.transport,
.service,
.support {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 92px;
  padding-right: 85px;
  padding-bottom: 98px;
}
.transport,
.service,
.support {
  padding-top: 0;
}
.support,
.painting {
  padding-right: 0;
}
.container-1 p,
.container-2 p {
  line-height: 23px;
}
