.projects {
  margin-top: 102px;
}
.projects-header {
  text-align: center;
}
.projects-header p span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}
.projects-header p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.4px;
}
.projects-header p:first-child {
  letter-spacing: 9px;
  padding-bottom: 0;
}

.projects-header p + p {
  padding-top: 0;
}

.projects-header h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}
.projects-header h2 span {
  color: #eec400;
}
.projects-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 45px;
}
.projects-header li {
  list-style-type: none;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  margin-right: 15px;
}
.projects-header li:last-child {
  margin-right: 0;
}
.projects-header a {
  color: #000;
}
.projects-header a:hover {
  border-bottom: #eec400 1px solid;
  color: #eec400;
}
// swiper slider----------------------
.projects-slider .slide-item {
  position: relative;
}
.projects-slider .slide-item img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
// .projects-slider .slide-item:hover img {
//   cursor: pointer;
//   // background-color: #eec400;
//   // z-index: 10;
//   opacity: 0.4;
// }
.projects-slider .slide-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eec400;
  opacity: 0;
  z-index: 5;
}

.projects-slider .slide-item .under-loupe {
  position: absolute;
  bottom: 0;
  left: 20px;
  background-color: inherit;
}
.projects-slider .slide-item .under-chain {
  position: absolute;
  bottom: 0;
  left: 70px;
  background-color: inherit;
}
.projects-slider .slide-item svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  opacity: 0;
  z-index: 5;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.projects-slider .slide-item:hover::before {
  opacity: 0.6;
  z-index: 10;
  transition-duration: 1s;
}
.projects-slider .slide-item:hover svg {
  opacity: 0.5;
  z-index: 10;
  cursor: pointer;
  transition-duration: 1s;
}
.projects-slider .slide-item svg:hover {
  opacity: 1;
  cursor: pointer;
  transition-duration: 0.5s;
}

// arrows--------------------------

.projects-slider {
  position: relative;
}
.projects-slider .swiper-button-prev-uniq1::after,
.projects-slider .swiper-button-next-uniq1::after {
  content: "";
}
.projects-slider .swiper-button-next-uniq1 {
  position: absolute;
  top: 55%;
  right: 70px;
  opacity: 0.3;
  z-index: 10;
}
.projects-slider .swiper-button-prev-uniq1 {
  position: absolute;
  top: 55%;
  left: 70px;
  opacity: 0.3;
  z-index: 10;
}
.projects-slider .swiper-button-next-uniq1:hover {
  opacity: 1;
  cursor: pointer;
}
.projects-slider .swiper-button-prev-uniq1:hover {
  opacity: 1;
  cursor: pointer;
}
// button--------------------------
// --------------------------------
.projects .wr-button {
  text-align: center;
}
.projects .button {
  width: 230px;
  height: 63px;
  background-color: #eec400;
  border-radius: 5px;
  margin-top: 96px;
}
.projects .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #404040;
  text-transform: uppercase;
  margin-right: 15px;
  transition-duration: 1s;
}
.projects .button:hover span {
  color: #fff;
  transition-duration: 1s;
}
// fon----------------------------------
