.projects {
  margin-top: 102px;
}
.projects-header {
  text-align: center;
}
.projects-header p span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}
.projects-header p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 8px;
  letter-spacing: 0.4px;
}
.projects-header p:first-child {
  letter-spacing: 9px;
  padding-bottom: 0;
}

.projects-header p + p {
  padding-top: 0;
}

.projects-header h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}
.projects-header h2 span {
  color: #eec400;
}
.projects-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 325px;
  padding-top: 45px;
  padding-bottom: 25px;
}
.projects-header li {
  list-style-type: none;
  text-transform: capitalize;
  letter-spacing: 0.8px;
}
.projects-header a {
  color: #000;
}
.projects-header a:hover {
  border-bottom: #eec400 1px solid;
  color: #eec400;
}
// swiper slider----------------------

.projects-slider .slide-item img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.projects-slider .slide-item:hover img {
  cursor: pointer;
  // background-color: #eec400;
  // z-index: 10;
  opacity: 0.4;
}
.projects-slider .slide-item.one,
.projects-slider .slide-item.three,
.projects-slider .slide-item.five {
  // background-color: black;
  background-color: #eec400;
}
.projects-slider .slide-item.two,
.projects-slider .slide-item.four,
.projects-slider .slide-item.six {
  background-color: #eec400;
}

// arrows--------------------------

.projects-slider {
  position: relative;
}
.projects-slider .swiper-button-prev-uniq1::after,
.projects-slider .swiper-button-next-uniq1::after {
  content: "";
}
.projects-slider .swiper-button-next-uniq1 {
  position: absolute;
  top: 55%;
  right: 70px;
  opacity: 0.3;
  z-index: 10;
}
.projects-slider .swiper-button-prev-uniq1 {
  position: absolute;
  top: 55%;
  left: 70px;
  opacity: 0.3;
  z-index: 10;
}
.projects-slider .swiper-button-next-uniq1:hover {
  opacity: 1;
  cursor: pointer;
}
.projects-slider .swiper-button-prev-uniq1:hover {
  opacity: 1;
  cursor: pointer;
}
// button--------------------------
// --------------------------------
.projects .wr-button {
  text-align: center;
  margin-top: 64px;
}
.projects .button {
  width: 230px;
  height: 63px;
  background-color: #eec400;
  border-radius: 5px;
}
.projects .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #404040;
  text-transform: uppercase;
  padding-right: 15px;
}
