* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.button:hover {
  cursor: pointer;
}
