* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway-Regular", sans-serif;
  color: #212121;
  background-color: #fff;

  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
li:hover,
a:hover {
  cursor: pointer;
  // transform: scale(1.2);
}

button:hover {
  cursor: pointer;
}
button {
  border: none;
}
button svg {
  width: 20px;
  height: 12px;
  fill: #404040;
}
