@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "reset";
@import "fonts";
@import "settings";
@import "header-slider";
@import "cards";
@import "video";
@import "offering";
@import "projects";
@import "awards";
@import "team";
@import "client";
@import "clientslogo";
@import "world";
@import "subscribe";
@import "price";
@import "news";
@import "map";
@import "footer";
@import "media";

// burger----------------------
.burger {
  background-color: inherit;
  display: none;
  @media (max-width: 1050px) {
    display: block;
    cursor: pointer;
  }
}
.burger svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
@media (max-width: 1050px) {
  .nav-list {
    display: block;
    position: absolute;
    top: -1000px;
  }
  .nav-list li {
    margin-top: 15px;
    margin-left: 25px;
  }
  .header .nav-list a {
    font-size: 32px;
  }
  .nav-list.visual {
    display: block;
    position: absolute;
    top: 95px;
    right: 0px;
    // height: 400px;
    width: 100%;
    background-color: #211f1f;
    z-index: 100;
    text-align: center;
    opacity: 0.9;
    transition: all 0.8s ease 0s;
  }
  .nav-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav-list ul li {
    border-bottom: 2px solid #404040;
  }
}
// header navigation--------------------------------------
.preview {
  height: 100vh;
  background-image: url(../img/header/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.preview .header {
  background-color: #211f1f;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
  padding-top: 36px;
}
.nav-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  // position: relative;
}
.nav-list ul {
  display: flex;
}
.header .nav-list a {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
}
.logo img {
  margin-right: 12px;
  vertical-align: bottom;
}

.nav-list li {
  list-style-type: none;
  margin-right: 25px;
  text-transform: uppercase;
}
.nav-list .lock-open {
  padding-left: 20px;
}
.nav-list .zoom {
  padding-right: 0;
}
// svg---------------------------------
.zoom svg,
.lock-open svg {
  width: 14px;
  fill: #fff;
  @media (max-width: 1050px) {
    display: none;
  }
}
.zoom,
.lock-open {
  border: none;
  background-color: #222;
}
.lock-open {
  margin-right: 25px;
}
.zoom,
.lock-open,
.nav-list li,
.nav-list a,
.logo,
.zoom svg,
.lock-open svg {
  transition-duration: 1s;
}
.zoom:hover,
.lock-open:hover,
.nav-list li:hover,
.nav-list a:hover,
.logo:hover {
  cursor: pointer;
  // transform: scale(1.3);
  transition-duration: 1s;
  color: #eec400;
}
.zoom svg:hover,
.lock-open svg:hover {
  fill: #eec400;
  transition-duration: 1s;
}
.nav-list li a:active {
  color: #1ab1ec;
  border-bottom: #1ab1ec 1px solid;
}
.zoom svg:active,
.lock-open svg:active {
  fill: #1ab1ec;
}
// wr-consult-----------------------------
// ------------------------------------------
.consult-section {
  background-image: url("../img/header/consult.jpg");
  background-size: cover;
}
.consult-section .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}
.consult-section h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 73px;
  @media (max-width: 800px) {
    font-size: 30px;
  }
  @media (max-width: 490px) {
    font-size: 20px;
    margin-top: 40px;
  }
}
.consult-section h2 + p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  margin-bottom: 80px;
  margin-top: 2px;
  text-transform: none;
  @media (max-width: 800px) {
    margin-bottom: 0;
  }
}
.consult-section .button {
  background-color: #404040;
  color: #fff;
  width: 272px;
  height: 70px;
  border-radius: 5px;
  border: none;
  @media (max-width: 800px) {
    width: 160px;
    height: 50px;
    margin-bottom: 10px;
  }
}
.consult-section .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 15px;
  color: #fff;
  transition-duration: 1s;
  @media (max-width: 800px) {
    font-size: 14px;
  }
}
.consult-section .button svg {
  fill: #fff;
  transition-duration: 1s;
}
.consult-section .button:hover {
  background-color: #4c413b;
  transition-duration: 1s;
}
.consult-section .button:hover span,
.consult-section .button:hover svg {
  transition-duration: 1s;
  color: #eec400;
  fill: #eec400;
}

// cards------------------------------------
// -----------------------------------------
