.subscribe {
  background-color: #f8f8f8;
}
.subscribe-header-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 160px;
  padding-top: 160px;
  @media (max-width: 1401px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 40px;
  }
}
.subscribe-email {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  @media (max-width: 1400px) {
    margin-top: 10px;
  }
  @media (max-width: 490px) {
    text-align: center;
    margin-top: 10px;
  }
}
.subscribe-email input[type="email"] {
  width: 368px;
  padding: 15px 15px;
  border-radius: 5px 5px 5px 5px;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  opacity: 0.5;
  margin-right: 2px;
  @media (max-width: 800px) {
    width: 160px;
    padding: 5px 5px;
  }
  @media (max-width: 490px) {
    margin-right: 0px;
    font-size: 12px;
  }
}
.subscribe-email input[type="submit"] {
  padding: 15px 50px;
  border-radius: 5px 5px 5px 5px;
  margin-left: -5px;
  background-color: #eec400;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  // border-left: none;
  transition-duration: 1s;
  text-transform: uppercase;
  @media (max-width: 800px) {
    padding: 5px 10px;
  }
  @media (max-width: 490px) {
    margin-top: 10px;
    margin-left: 0;
    font-size: 12px;
  }
}

.world-header h2 span {
  letter-spacing: 1px;
  padding-left: 6px;
}
.subscribe-email input[type="submit"]:hover {
  background-color: #404040;
  transition-duration: 1s;
  // border-left: 2px black solid;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
}

.subscribe-email input[value="Subscribe"]:hover {
  color: #fff;
  border: 2px solid #404040;
}
.back-img {
  height: 28px;
  background-image: url(../img/subscribe/Vector.jpg);
  background-size: cover;
}
.subscribe .subscribe-header .world-header h2 {
  margin-bottom: 0;
}
