.world {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
  @media (max-width: 1050px) {
    padding-bottom: 20px;
  }
  @media (max-width: 490px) {
    padding-top: 20px;
  }
}
.world-map {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  @media (max-width: 1050px) {
    flex-direction: column;
    text-align: center;
  }
}
.world-map img {
  margin: 15px;
  @media (max-width: 1050px) {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}
.world-header {
  max-width: 570px;
  @media (max-width: 1050px) {
    margin-left: 15px;
    max-width: 100%;
    text-align: center;
  }
}
.world-header p span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  @media (max-width: 490px) {
    font-size: 12px;
    letter-spacing: 3.7px;
  }
}
.world-header p::after {
  content: "----------------";
  @media (max-width: 800px) {
    display: none;
  }
}
.world-header p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  @media (max-width: 800px) {
    line-height: 20px;
  }

  letter-spacing: 0.4px;
  line-height: 24px;
}
.world-header p:first-child {
  letter-spacing: 9px;
  padding-bottom: 0;
}

.world-header p + p {
  padding-top: 0;
}

.world-header h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 42px;
  @media (max-width: 800px) {
    font-size: 30px;
    line-height: 30px;
  }
  @media (max-width: 490px) {
    font-size: 20px;
    line-height: 20px;
  }
}
.world-header h2 span {
  color: #eec400;
}
// button--------------------
.world .wr-button {
  text-align: left;
  @media (max-width: 1050px) {
    text-align: center;
  }
}
.world .button:hover span {
  color: #fff;
  transition-duration: 1s;
}
.world .button {
  width: 230px;
  height: 63px;
  background-color: #eec400;
  border-radius: 5px;
  margin-top: 72px;
  @media (max-width: 1050px) {
    margin-top: 20px;
  }
  @media (max-width: 800px) {
    width: 160px;
    height: 50px;
  }
}
.world .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #404040;
  text-transform: uppercase;
  transition-duration: 1s;
}
