/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Raleway-Regular";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Black";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-LightItalic";
  font-display: swap;
  src: url("../fonts/Raleway-LightItalic.woff") format("woff"), url("../fonts/Raleway-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway-Regular", sans-serif;
  color: #212121;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li:hover,
a:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

button:hover {
  cursor: pointer;
}

button {
  border: none;
}

button svg {
  width: 20px;
  height: 12px;
  fill: #404040;
}

.wr-header-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}

.header-slider.swiper-container {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-slider-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.header-slider-item h2 {
  font-family: "Roboto-Light", sans-serif;
  font-size: 35px;
  letter-spacing: 8px;
  color: #fff;
  text-transform: uppercase;
  padding-left: 2px;
}

.header-slider-item h1 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 105px;
  line-height: 86%;
  letter-spacing: -1px;
  color: #fff;
  text-transform: uppercase;
  padding-left: 2px;
}

.header-slider-item span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 105px;
  line-height: 86%;
  letter-spacing: -1px;
  color: #eec400;
  text-transform: uppercase;
}

.header-slider-item h3 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 36px;
  text-transform: capitalize;
  color: #fff;
  margin-left: 2px;
  margin-top: 19px;
}

.header-slider-item p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 170%;
  margin-left: 2px;
  margin-top: 24px;
}

.button {
  width: 272px;
  height: 70px;
  background-color: #eec400;
  border-radius: 5px;
  margin-top: 32px;
  margin-left: 2px;
  border: none;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.button svg {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.button:hover {
  background-color: #4c413b;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.button:hover span,
.button:hover svg {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  color: #fff;
  fill: #fff;
}

.button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #404040;
  text-transform: uppercase;
  margin-right: 15px;
}

.wr-header-slider {
  position: relative;
}

.header-slider .swiper-button-prev::after,
.header-slider .swiper-button-next::after {
  content: "";
}

.wr-header-slider .swiper-button-next-uniq {
  position: absolute;
  top: 50%;
  right: 50px;
  opacity: 0.3;
}

.wr-header-slider .swiper-button-prev-uniq {
  position: absolute;
  top: 50%;
  left: 50px;
  opacity: 0.3;
}

.wr-header-slider .swiper-button-next-uniq:hover {
  opacity: 1;
  cursor: pointer;
}

.wr-header-slider .swiper-button-prev-uniq:hover {
  opacity: 1;
  cursor: pointer;
}

.swiper-pagination-header .swiper-pagination-bullet {
  margin-right: 13px;
  width: 19px;
  height: 5px;
  background-color: #eec400;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-header .swiper-pagination-bullet-active {
  width: 34px;
  height: 5px;
  background-color: #fff;
  opacity: 1;
}

.cards {
  background-color: #fff;
}

.cards-header {
  margin-top: 102px;
  text-align: center;
}

.cards-header p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.cards-header .p-cards,
.offering-header .p-cards,
.projects-header .p-cards,
.team-header .p-cards,
.client-header .p-cards,
.price-header .p-cards,
.news-header .p-cards {
  letter-spacing: 3.8px;
  text-transform: uppercase;
  font-size: 18px;
}

.cards-header h2,
.offering-header h2,
.projects-header h2,
.team-header h2,
.client-header h2,
.price-header h2,
.news-header h2 {
  margin-bottom: 13px;
}

.p-cards::before {
  content: "---";
  letter-spacing: 3.8px;
}

.p-cards::after {
  content: "---";
  letter-spacing: 3.8px;
}

.cards-header h2,
.cards-header h2 span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.cards-header h2 span {
  color: #eec400;
}

.cards-header h2 + p,
.offering-header h2 + p,
.projects-header h2 + p,
.team-header h2 + p,
.client-header h2 + p,
.price-header h2 + p,
.news-header h2 + p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  text-transform: none;
  line-height: 24px;
  max-width: 780px;
  margin: 0 auto;
}

.cards-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 76px;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  padding: 70px 20px 66px;
  border: 2px solid #eec400;
  width: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.card-item h2 {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 23px;
}

.card-item h2 span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 24px;
}

.card-item.card-two h2 span {
  font-family: "Roboto-Regular", sans-serif;
}

.card-item.card-two h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 24px;
}

.card-item p {
  text-align: center;
  line-height: 24px;
  margin-top: 13px;
}

.card-item button {
  padding: 5px;
  border: none;
  background-color: #fff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.card-item button span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 10px;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.card-item img {
  height: 54px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-item svg {
  height: 54px;
  fill: black;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.card-item:hover {
  background-color: #eec400;
  color: #fff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.card-item:hover svg {
  fill: #fff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.card-item:hover button span {
  color: #fff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.card-item button svg {
  width: 20px;
  height: 12px;
}

.card-item:hover button {
  background-color: #eec400;
}

.video {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  margin: 100px auto 0;
}

.video video[poster] {
  -o-object-fit: cover;
     object-fit: cover;
}

video {
  width: 100%;
  height: 625px;
}

.offering {
  margin-top: 100px;
}

.offering-header {
  text-align: center;
}

.offering-header p span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.offering-header p {
  letter-spacing: 9px;
}

.offering-header h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.offering-header h2 span {
  color: #eec400;
}

.offering img {
  margin-right: 30px;
  width: 43px;
  height: 43px;
  -o-object-fit: contain;
     object-fit: contain;
}

.container-1,
.container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.offering h3 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 11px;
  margin-bottom: 11px;
  letter-spacing: -0.2px;
}

.offering h3 span {
  font-family: "Roboto-light", sans-serif;
}

.architecture,
.energy,
.painting,
.transport,
.service,
.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 92px;
  margin-right: 85px;
  margin-bottom: 98px;
}

.transport,
.service,
.support {
  margin-top: 0;
}

.support,
.painting {
  margin-right: 0;
}

.container-1 p,
.container-2 p {
  line-height: 23px;
}

svg {
  fill: #eec400;
}

.projects {
  margin-top: 102px;
}

.projects-header {
  text-align: center;
}

.projects-header p span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.projects-header p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.4px;
}

.projects-header p:first-child {
  letter-spacing: 9px;
  padding-bottom: 0;
}

.projects-header p + p {
  padding-top: 0;
}

.projects-header h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.projects-header h2 span {
  color: #eec400;
}

.projects-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  margin-top: 45px;
}

.projects-header li {
  list-style-type: none;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  margin-right: 15px;
}

.projects-header li:last-child {
  margin-right: 0;
}

.projects-header a {
  color: #000;
}

.projects-header a:hover {
  border-bottom: #eec400 1px solid;
  color: #eec400;
}

.projects-slider .slide-item {
  position: relative;
}

.projects-slider .slide-item img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-slider .slide-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eec400;
  opacity: 0;
  z-index: 5;
}

.projects-slider .slide-item .under-loupe {
  position: absolute;
  bottom: 0;
  left: 20px;
  background-color: inherit;
}

.projects-slider .slide-item .under-chain {
  position: absolute;
  bottom: 0;
  left: 70px;
  background-color: inherit;
}

.projects-slider .slide-item svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  opacity: 0;
  z-index: 5;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.projects-slider .slide-item:hover::before {
  opacity: 0.6;
  z-index: 10;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.projects-slider .slide-item:hover svg {
  opacity: 0.5;
  z-index: 10;
  cursor: pointer;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.projects-slider .slide-item svg:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.projects-slider {
  position: relative;
}

.projects-slider .swiper-button-prev-uniq1::after,
.projects-slider .swiper-button-next-uniq1::after {
  content: "";
}

.projects-slider .swiper-button-next-uniq1 {
  position: absolute;
  top: 55%;
  right: 70px;
  opacity: 0.3;
  z-index: 10;
}

.projects-slider .swiper-button-prev-uniq1 {
  position: absolute;
  top: 55%;
  left: 70px;
  opacity: 0.3;
  z-index: 10;
}

.projects-slider .swiper-button-next-uniq1:hover {
  opacity: 1;
  cursor: pointer;
}

.projects-slider .swiper-button-prev-uniq1:hover {
  opacity: 1;
  cursor: pointer;
}

.projects .wr-button {
  text-align: center;
}

.projects .button {
  width: 230px;
  height: 63px;
  background-color: #eec400;
  border-radius: 5px;
  margin-top: 96px;
}

.projects .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #404040;
  text-transform: uppercase;
  margin-right: 15px;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.projects .button:hover span {
  color: #fff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.awards {
  background-image: url(../img/header/construction3.png);
  background-color: #eec400;
  background-size: cover;
  margin-top: 100px;
}

.awards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto-Light", sans-serif;
  font-size: 48px;
  padding: 157px 0;
}

.awards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.awards-item .text {
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}

.team {
  margin-top: 102px;
}

.team-header p span {
  letter-spacing: 2.7px;
}

.team-slider-wrapper.swiper-wrapper {
  width: 100%;
}

.team-slider-block {
  margin-top: 80px;
}

.team-slider-slide .slide-item {
  position: relative;
  width: 350px;
  height: 470px;
  background: center no-repeat url(../img/team/Rectangle.png);
}

.team-slider .slide-item.first img {
  position: absolute;
  bottom: 0;
  left: -20px;
}

.team-slider .slide-item.second img {
  position: absolute;
  left: 20px;
  bottom: 0;
}

.team-slider .slide-item.third img {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.swiper-pagination-team {
  text-align: center;
  margin-top: 50px;
}

.team-slider.swiper-container .swipper-pagination-bullet {
  width: 20px;
  height: 5px;
  background-color: #eec400;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-team .swiper-pagination-bullet {
  margin-right: 13px;
  width: 19px;
  height: 5px;
  background-color: #eec400;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-team .swiper-pagination-bullet-active {
  width: 34px;
  height: 5px;
  background-color: #404040;
  opacity: 1;
}

.team-slider-slide .slide-item {
  position: relative;
}

.team-slider-slide .slide-item:hover::before {
  opacity: 0.5;
  z-index: 10;
}

.team-slider-slide .slide-item:hover svg,
.team-slider-slide .slide-item:hover p {
  opacity: 1;
  z-index: 10;
  cursor: pointer;
}

.team-slider-slide .fb,
.team-slider-slide .linkedin,
.team-slider-slide .twitter {
  background-color: inherit;
  position: absolute;
}

.team-slider-slide .fb {
  bottom: 40px;
  left: 40px;
}

.team-slider-slide .linkedin {
  bottom: 40px;
  left: 80px;
}

.team-slider-slide .twitter {
  bottom: 40px;
  left: 120px;
}

.team-slider-slide svg {
  width: 25px;
  height: 25px;
  fill: #fff;
  opacity: 1;
  z-index: 10;
}

.team-slider-slide .slide-item p + p {
  position: absolute;
  top: 60px;
  left: 40px;
  font-family: "Roboto-Regular", serif;
  font-size: 14px;
}

.team-slider-slide .slide-item p {
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: "Roboto-Black", serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
}

.client {
  background-color: #f8f8f8;
  padding-top: 60px;
}

.client-slider .swiper-container {
  max-width: 450px;
  margin: 100px auto;
}

.client-slider .slide-main svg {
  width: 14px;
}

.client-slider .slide-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.client-slider .slide-header p + p {
  font-family: "Roboto-Light", sans-serif;
  font-size: 12px;
}

.client-slider .slide-header img {
  border-radius: 50%;
}

.client-slider .slide-main {
  font-family: "Raleway-LightItalic", sans-serif;
  font-size: 14px;
}

.clientslogo {
  background-color: #f8f8f8;
  padding-bottom: 20px;
}

.clientslogo-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 5px 15px #d8d6d6;
          box-shadow: 0px 5px 15px #d8d6d6;
}

.clientslogo-images img:last-child {
  margin-right: 0;
}

.clientslogo-images img {
  height: 64px;
  max-width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

.world {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
}

.world-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.world-map img {
  margin: 0px 15px 0px;
}

.world-header {
  max-width: 570px;
}

.world-header p span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.world-header p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 24px;
}

.world-header p:first-child {
  letter-spacing: 9px;
  padding-bottom: 0;
}

.world-header p + p {
  padding-top: 0;
}

.world-header h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.world-header h2 span {
  color: #eec400;
}

.world .wr-button {
  text-align: left;
}

.world .button:hover span {
  color: #fff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.world .button {
  width: 230px;
  height: 63px;
  background-color: #eec400;
  border-radius: 5px;
}

.world .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #404040;
  text-transform: uppercase;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.subscribe {
  background-color: #f8f8f8;
}

.subscribe-header-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 160px;
  padding-top: 160px;
}

.subscribe-email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.subscribe-email input[type="email"] {
  width: 368px;
  padding: 15px 15px;
  border-radius: 5px 5px 5px 5px;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  opacity: 0.5;
  margin-right: 2px;
}

.subscribe-email input[type="submit"] {
  padding: 15px 50px;
  border-radius: 5px 5px 5px 5px;
  margin-left: -5px;
  background-color: #eec400;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  text-transform: uppercase;
}

.world-header h2 span {
  letter-spacing: 1px;
  padding-left: 6px;
}

.subscribe-email input[type="submit"]:hover {
  background-color: #404040;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.subscribe-email input[value="Subscribe"]:hover {
  color: #fff;
  border: 2px solid #404040;
}

.price-header {
  padding-top: 100px;
  padding-bottom: 90px;
}

.price-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 100px;
}

.price-item.second {
  margin: 0 27px;
}

.price-item {
  -webkit-box-shadow: 0px 100px 200px #dddcdc;
          box-shadow: 0px 100px 200px #dddcdc;
}

.price-item-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 38px 91px 0;
  text-align: center;
}

.price-item h3 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.price-item h3 + p {
  font-family: "Raleway-Light", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.price-item p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
  padding-bottom: 26px;
}

.price-item .button {
  border: none;
  width: 170px;
  height: 45px;
  background-color: #404040;
  border-radius: 5px 5px 0 0;
}

.price-item .wr-button {
  padding-top: 21px;
}

.price-item .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-right: 0;
}

.price-item .money {
  font-family: "Roboto-Black", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  padding-bottom: 38px;
}

.price-item-inner sup {
  font-size: 18px;
}

.price-item .button:hover {
  background-color: #eec400;
}

.news {
  background-color: #f8f8f8;
}

.news-header {
  margin-top: 100px;
  margin-bottom: 60px;
}

.news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 12px;
  text-transform: capitalize;
}

.news-post {
  width: 370px;
  background-color: #fff;
}

.news-post-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 240px;
  overflow: hidden;
}

.news-post img {
  margin-bottom: 35px;
}

.news-post h3 {
  font-size: 22px;
  margin-top: 34px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.news-post p {
  margin-bottom: 18px;
  line-height: 23px;
}

.news-post h3 + p {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.news-post h3,
.news-post p {
  margin-left: 30px;
}

.news-post button {
  margin-left: 30px;
  border: none;
  background-color: #fff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.news-post button img {
  padding-bottom: 0px;
}

.news-post button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 10px;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.news-post button:hover {
  cursor: pointer;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.news-post button:hover span {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  color: #eec400;
}

.news-post button:hover svg {
  fill: #eec400;
}

.news-post button svg {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.map-info {
  position: relative;
  margin-top: 100px;
}

.map-image {
  height: 590px;
  width: 100%;
  background-image: url(../img/map/map.png);
  background-size: cover;
}

.map-color {
  background-color: #f8f8f8;
  height: 711px;
}

.map-info .wrapper {
  position: relative;
}

.map-form-input {
  padding-top: 30px;
}

.map-form-connection {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  width: 100%;
}

.map-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 70px 100px;
}

.map-form .text-email-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
}

.map-form .map-form-input input[type="text"],
.map-form-input input[type="email"] {
  width: 455px;
  height: 50px;
  padding: 15px 15px;
  border-radius: 5px;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  opacity: 0.5;
}

.map-form-input textarea[name="textarea"] {
  width: 100%;
  border-radius: 5px;
}

.map-info .wr-button {
  padding-top: 30px;
}

.map-info .button {
  width: 230px;
  height: 65px;
  background-color: #eec400;
  border-radius: 5px;
  border: none;
}

.map-info .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding-right: 12px;
  padding-left: 18px;
}

.map-info .button:hover span {
  color: #eec400;
}

.map-info .button:hover {
  background-color: #4c413b;
}

.office-email svg,
.office-adress svg,
.office-phone-number svg {
  width: 35px;
  fill: #000;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.map-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.office-adress,
.office-phone-number,
.office-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 60px;
}

.office-email {
  margin-right: 0;
}

.office-svg {
  border: 1px dashed #eec400;
  padding: 10px 15px;
}

.data-office {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
}

.data-office h3 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.map-connection {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
}

.office-adress .office-svg:hover svg {
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.office-phone-number .office-svg:hover svg {
  -webkit-animation: 1s ease-in-out 0s normal none infinite running trambling-animation;
          animation: 1s ease-in-out 0s normal none infinite running trambling-animation;
}

@-webkit-keyframes trambling-animation {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  10%, 30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  20%, 40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes trambling-animation {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  10%, 30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  20%, 40% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.office-email .office-svg:hover svg {
  -webkit-animation: 2s ease-in-out 0s normal none infinite running top-down;
          animation: 2s ease-in-out 0s normal none infinite running top-down;
}

@-webkit-keyframes top-down {
  0%, 100% {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }

  20%, 75% {
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
  }

  40%, 50%, 60% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes top-down {
  0%, 100% {
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
  }

  20%, 75% {
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
  }

  40%, 50%, 60% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.footer {
  background-color: #424242;
  background-size: cover;
  background-image: url("../img/footer/world-background.png");
  font-family: "Raleway-Regular", serif;
  font-size: 14px;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 24px;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-inner .structure {
  max-width: 270px;
}

.footer-inner .our-services {
  max-width: 170px;
}

.footer-inner .recent-tweets {
  max-width: 270px;
}

.footer-inner .get-in-touch {
  max-width: 370px;
}

.footer-inner a {
  font-family: "Raleway-Regular", serif;
  font-size: 14px;
  color: #fff;
  -webkit-transition-duration: 1.5s;
       -o-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.footer-inner a:hover {
  color: #eec400;
  -webkit-transition-duration: 1.5s;
       -o-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.footer-inner h2 {
  margin-bottom: 40px;
}

.footer-inner h2 a {
  font-family: "Roboto-Black", serif;
  font-size: 24px;
  text-transform: uppercase;
  -webkit-transition-duration: 1.5s;
       -o-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.footer-inner .structure h2 + p {
  margin-bottom: 30px;
}

.footer-inner .structure h2 img {
  vertical-align: bottom;
}

.footer-inner .structure p {
  font-family: "Raleway-LightItalic", serif;
}

.footer-inner .our-services li a:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 0px 5px 7px;
  border-color: transparent transparent transparent #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  vertical-align: baseline;
}

.footer-inner .our-services li {
  margin-left: 15px;
}

.footer-inner .recent-tweets .voice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.voice button {
  margin-right: 5px;
  background-color: inherit;
  padding: 0;
  line-height: 0;
}

.voice p {
  line-height: 28px;
}

.voice svg {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.voice a {
  color: #eec400;
}

.get-in-touch svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  opacity: 0.5;
  -webkit-transition-duration: 1.5s;
       -o-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.get-in-touch h3 {
  color: #eec400;
  font-family: "Roboto-Bold", serif;
  font-size: 18px;
  text-transform: uppercase;
}

.get-in-touch .block-connections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-inet a {
  margin-right: 10px;
}

.footer-inner .block-wrapper {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer h2 a:hover {
  color: #eec400;
  -webkit-transition-duration: 1.5s;
       -o-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.recent-tweets p a:hover {
  color: #5faceb;
}

.block-inet a:hover svg {
  fill: #eec400;
  -webkit-transition-duration: 1.5s;
       -o-transition-duration: 1.5s;
          transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.preview {
  height: 100vh;
  background-image: url(../img/header/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.preview .header {
  background-color: #211f1f;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 31px;
  padding-top: 36px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav-list a {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
}

.logo img {
  padding-right: 12px;
  vertical-align: bottom;
}

.nav-list li {
  list-style-type: none;
  margin-right: 25px;
  text-transform: uppercase;
}

.nav-list .lock-open {
  padding-left: 20px;
}

.nav-list .zoom {
  padding-right: 0;
}

.zoom svg,
.lock-open svg {
  width: 14px;
  fill: #fff;
}

.zoom,
.lock-open {
  border: none;
  background-color: #222;
}

.lock-open {
  margin-right: 25px;
}

.zoom,
.lock-open,
.nav-list li,
.nav-list a,
.logo {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.zoom:hover,
.lock-open:hover,
.nav-list li:hover,
.nav-list a:hover,
.logo:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  color: #eec400;
}

.consult-section {
  background-image: url("../img/header/consult.jpg");
  background-size: cover;
}

.consult-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult-section h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 73px;
}

.consult-section h2 + p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  margin-bottom: 80px;
  margin-top: 2px;
  text-transform: none;
}

.consult-section .button {
  background-color: #404040;
  color: #fff;
  width: 272px;
  height: 70px;
  border-radius: 5px;
  border: none;
}

.consult-section .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 15px;
  color: #fff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.consult-section .button svg {
  fill: #fff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.consult-section .button:hover {
  background-color: #4c413b;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.consult-section .button:hover span,
.consult-section .button:hover svg {
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  color: #eec400;
  fill: #eec400;
}

.webp .awards { background-image: url(../img/header/construction3.webp); }

.webp .team-slider-slide .slide-item { background: center no-repeat url(../img/team/Rectangle.webp); }

.webp .map-image { background-image: url(../img/map/map.webp); }

.webp .footer { background-image: url(../img/footer/world-background.webp); }

.webp .preview { background-image: url(../img/header/header.webp); }

.webp .consult-section { background-image: url(../img/header/consult.webp); }