@font-face {
  font-family: "Raleway-Regular";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Black";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover {
  cursor: pointer;
}

.wr-header-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 15vh;
}

.header-slider.swiper-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-slider-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.header-slider .header-slider-item h2 {
  font-family: "Roboto-Light", sans-serif;
  font-size: 35px;
  letter-spacing: 8px;
  color: #fff;
  text-transform: uppercase;
}

.header-slider .header-slider-item h2 + p {
  font-family: "Roboto-Black", sans-serif;
  font-size: 105px;
  line-height: 86%;
  letter-spacing: -1px;
  color: #fff;
  text-transform: uppercase;
}

.header-slider .header-slider-item span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 105px;
  line-height: 86%;
  letter-spacing: -1px;
  color: #eec400;
  text-transform: uppercase;
}

.header-slider .header-slider-item h3 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 36px;
  text-transform: capitalize;
  color: #fff;
  padding-top: 19px;
  padding-bottom: 24px;
}

.header-slider .header-slider-item p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 170%;
}

.header-slider .header-slider-item .wr-button {
  padding-top: 32px;
}

.header-slider .header-slider-item .button {
  width: 272px;
  height: 70px;
  background-color: #eec400;
  border-radius: 5px;
}

.header-slider .header-slider-item .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  color: #404040;
  text-transform: uppercase;
  padding-right: 15px;
}

.wr-header-slider {
  position: relative;
}

.header-slider .swiper-button-prev::after,
.header-slider .swiper-button-next::after {
  content: "";
}

.wr-header-slider .swiper-button-next-uniq {
  position: absolute;
  top: 55%;
  right: 50px;
  opacity: 0.3;
}

.wr-header-slider .swiper-button-prev-uniq {
  position: absolute;
  top: 55%;
  left: 50px;
  opacity: 0.3;
}

.wr-header-slider .swiper-button-next-uniq:hover {
  opacity: 1;
  cursor: pointer;
}

.wr-header-slider .swiper-button-prev-uniq:hover {
  opacity: 1;
  cursor: pointer;
}

.wr-header-slider .swiper-pagination-bullet {
  margin-right: 13px;
  width: 19px;
  height: 5px;
  background-color: #eec400;
  border-radius: 0;
  opacity: 1;
}

.wr-header-slider .swiper-pagination-bullet-active {
  width: 34px;
  height: 5px;
  background-color: #fff;
  opacity: 1;
}

.cards {
  background-color: #fff;
}

.cards-header {
  padding-top: 102px;
  padding-bottom: 76px;
  text-align: center;
}

.cards-header h2 {
  padding-bottom: 13px;
}

.p-cards {
  letter-spacing: 0.8px;
}

.p-cards .span-cards {
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 3.8px;
}

.cards-header p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.cards-header h2,
.cards-header h2 span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.cards-header h2 span {
  color: #eec400;
}

.cards-header h2 + p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  text-transform: none;
  line-height: 24px;
  padding-right: 200px;
  padding-left: 200px;
}

.cards-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  padding: 70px 20px 66px;
  border: 2px solid #eec400;
}

.card-item.card-one {
  background-color: #eec400;
  color: #fff;
  margin-right: 15px;
}

.card-item.card-two {
  margin-left: 15px;
  margin-right: 15px;
}

.card-item.card-three {
  margin-left: 15px;
}

.card-item.card-three img {
  padding-top: 16px;
}

.card-item.card-one button {
  color: #fff;
}

.card-item h2 {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 23px;
}

.card-item h2 span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 24px;
}

.card-item.card-two h2 span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
}

.card-item.card-two h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 24px;
}

.card-item p {
  text-align: center;
  line-height: 24px;
  padding-top: 13px;
}

.card-item button {
  border: none;
  background-color: inherit;
}

.card-item button span {
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 10px;
}

.video {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  margin: 0 auto;
}

.video video[poster] {
  -o-object-fit: cover;
     object-fit: cover;
}

video {
  width: 100%;
  height: 625px;
}

.offering .wrapper {
  padding-top: 100px;
}

.offering-header {
  text-align: center;
}

.offering-header p span {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.offering-header p {
  letter-spacing: 9px;
}

.offering img {
  padding-right: 30px;
}

.offering-header h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.offering-header h2 span {
  color: #eec400;
}

.container-1,
.container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.offering h3 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  letter-spacing: -0.2px;
}

.offering h3 span {
  font-family: "Roboto-light", sans-serif;
}

.architecture,
.energy,
.painting,
.transport,
.service,
.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 92px;
  padding-right: 85px;
  padding-bottom: 98px;
}

.transport,
.service,
.support {
  padding-top: 0;
}

.support,
.painting {
  padding-right: 0;
}

.container-1 p,
.container-2 p {
  line-height: 23px;
}

.preview {
  height: 100vh;
  background-image: url(../img/header/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.preview .header {
  background-color: #211f1f;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 31px;
  padding-top: 36px;
}

.header .nav-list a {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
}

.logo img {
  padding-right: 12px;
}

.nav-container .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list li {
  display: inline-block;
  list-style-type: none;
  padding-right: 25px;
  text-transform: uppercase;
  padding-top: 14px;
}

.nav-list .lock-open {
  padding-left: 20px;
}

.nav-list .zoom {
  padding-right: 0;
}

.consult-section {
  background-image: url("../img/header/consult.jpg");
  background-size: cover;
}

.consult-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult-section h2 {
  font-family: "Roboto-Black", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 73px;
}

.consult-section h2 + p {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 14px;
  padding-bottom: 80px;
  padding-top: 0px;
  text-transform: none;
}

.consult-section .button {
  background-color: #404040;
  color: #fff;
  width: 272px;
  height: 70px;
  border-radius: 5px;
}

.consult-section .button span {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding-right: 15px;
}

.webp .preview { background-image: url(../img/header/header.webp); }

.webp .consult-section { background-image: url(../img/header/consult.webp); }